Take2/org.xtext.osy.extendedSMV.ui/bin/
Take2/org.xtext.osy.extendedSMV.tests/bin/org/xtext/osy/ExtendedSMVUiInjectorProvider.class
Take2/org.xtext.osy.extendedSMV.tests/src-gen/
Take2/org.xtext.osy.extendedSMV.ui/src-gen/

Take2/org.xtext.osy.extendedSMV.ui/xtend-gen/
Take2/org.xtext.osy.extendedSMV/model/generated/
Take2/org.xtext.osy.extendedSMV/src-gen/
Take2/org.xtext.osy.extendedSMV.tests/bin/org/xtext/osy/ExtendedSMVInjectorProvider.class
Take2/org.xtext.osy.extendedSMV.ui/plugin.xml_gen
Take2/org.xtext.osy.extendedSMV/plugin.xml_gen
