<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/osy/ExtendedSMV" 
       class = "org.xtext.osy.extendedSMV.ExtendedSMVPackage"
       genModel = "model/generated/ExtendedSMV.genmodel" /> 
	
  </extension>
  
  
<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="Shevah Applet"
        delegate="org.xtext.osy.launch.Launch"
        modes="run, debug"               
        id="org.eclipse.jdt.launching.javaApplet">        
    </launchConfigurationType>
</extension>


<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/1.png"
        configTypeID="org.eclipse.jdt.launching.javaApplet"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.javaApplet">
    </launchConfigurationTypeImage>
</extension>



	<extension point="org.eclipse.ui.views">
		<category 
           id="org.xtext.osy.views.NusmvCounterExamples"
           name="NuSMV Counter Examples">
        </category>
        <view id="org.xtext.osy.views.CounterExampleView"
             name="Counter Example View"
             category="org.xtext.osy.views.NusmvCounterExamples"
          class="org.xtext.osy.views.CounterExampleView"
          />
	</extension>


</plugin>
